<div *ngIf="isFetchingCountryDetails" class="mt-5 d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="card mx-5" *ngIf="!isFetchingCountryDetails">
  <div class="card-body">
    <h5 class="card-title">{{ countryDetails.name }}</h5>
    <p>capital: {{ countryDetails.capital }}</p>
    <p>region: {{ countryDetails.region }}</p>
    <p>subregion: {{ countryDetails.subregion }}</p>
    <p>population: {{ countryDetails.population }}</p>
  </div>
</div>
